root.dir=/Users/naren/git/UB_IR/
dump.filename=five_entries.xml
tknizer.nthreads=2
tmp.dir=/Users/naren/git/UB_IR/temp/
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationRule
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApostropheRule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.HyphenRule
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharsRule
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpaceRule
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DatesRule
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentsRule
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWordsRule
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitalizationRule
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumbersRule
pretkn.rules=AccentsRule,NumbersRule,DatesRule