root.dir=/Users/naren/git/UB_IR/
dump.filename=WikiDump_1600.xml
tknizer.nthreads=2
tmp.dir=/Users/naren/
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationRule
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpaceRule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
pretkn.rules=DATES,NUMBERS